* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
        display: none;
    }
}

.pointer {
    cursor: pointer;
}

#sidebar, #main {
    display: inline-block;
}