* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}