// InputField
.group {
    position: relative;
    width: 100%;
    input {
        display: block;
        width: 100%;
        border: none;
        font-size: 90%;
        padding-bottom: 5px;
        color: $light-theme-primary-color;
        border-bottom: 1px solid $light-theme-border;
        transition: all 0.25s ease-out;
        &:focus {
            outline: none;
            transition: all 0.25s ease-out;
            border-bottom: 1px solid $light-theme-success-color;
        }
        &:focus ~ label, &:valid ~ label {
                top: -20px;
                font-size: 80%;
                transition: all 0.1s ease-out;
                color: $light-theme-success-color;
                span.icon {
                    display: none;
                }
        }
        &:required {
            box-shadow: none;
        }
   }
   label {
        font-size: 90%;
        position: absolute;
        top: 0;
        transition: all 0.1s ease-out;
        span.icon {
            margin-right: 6px;
        }
    }
}

// Target Chrome, Safari
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .group {
        input {
            &:focus ~ label, &:valid ~ label {
                top: -20px;
                font-size: 50%;
                transition: all 0.1s ease-out;
                color: $light-theme-success-color;
                span.icon {
                    display: none;
                }
            }
        }
    }
}

// Dark Theme Color
.dark-theme {
    .group {
        input {
            background-color: $dark-theme-background-color;
            color: $dark-theme-secondary-color;
            border-bottom: 1px solid $dark-theme-lighten-border;
            &:focus {
                border-bottom: 1px solid $dark-theme-success-color;
            }
            &:focus ~ label, &:valid ~ label {
                color: $dark-theme-success-color;
            }
        }
    }
}