// Colors
$white: white;
$black: black;

// Light Theme Colors
$light-theme-primary-color: #373a3c;
$light-theme-secondary-color: #e4e6e8;
$light-theme-danger-color: darken(firebrick, 5%);
$light-theme-success-color: darken(teal, 5%);
$light-theme-muted-color: #6c757d;

// Shades of Light Theme Colors
$light-theme-border: lighten($light-theme-muted-color, 48.5%);