#main {
    width: 100%;
    background-color: $white;
    height: 100vh;
    color: $black;
    z-index: 9999;
    .navbar {
        background-color: $white;
        min-height: 56px;
        border-bottom: 1px solid $light-theme-border;
        .left-section {
            width: 96%;
            .group {
                margin-top: 12px;
            }
        }
        .right-section {
            text-align: right;
            width: 4%;
            span {
                margin-top: 12px;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }
    }
}