.sidebar-menu {
    width: 200px;
    height: 100vh;
    background-color: $light-theme-primary-color;
    color: $light-theme-secondary-color;
    .sidebar-heading {
        display: flex;
        align-items: center;
        height: 56px;
        .sidebar-heading-container {
            .sidebar-brand {
                img.sidebar-logo {
                    padding-left: 16px;
                }
                span {
                    font-size: 20px;
                    font-weight: 700;
                    margin-left: 10px;
                    padding-right: 16px;
                }
            }
        }
    }
    .sidebar-header {
        display: flex;
        align-items: center;
        width: 200px;
        height: 36px;
        padding: 0 16px;
        span.text-muted {
            font-size: 90%;
            font-weight: 400;
        }
    }
    .sidebar-content {
        li.no-dropdown {
            display: flex;
            align-items: center;
            height: 36px;
            font-size: 90%;
            font-weight: 400;
            a {
                color: $light-theme-secondary-color !important;
            }
        }
        li.dropdown-group {
            font-size: 90%;
            font-weight: 400;
            div.dropdown-group-name {
                display: flex;
                align-items: center;
                height: 36px;
                width: 100%;
            }
            div.dropdown-group-list {
                li {
                    display: flex;
                    align-items: center;
                    height: 32px;
                    width: 100%;
                    a {
                        color: $light-theme-secondary-color !important;
                    }
                }
            }
        }
    }
}