// Sidebar CSS
#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    background-color: $light-theme-primary-color;
    color: $light-theme-secondary-color;
    .sidebar-menu {
        .sidebar-heading {
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            width: 100%;
            background-color: darken($light-theme-primary-color, 2%);
            .sidebar-heading-container {
                .sidebar-brand {
                    img.sidebar-logo {
                        padding-left: 16px;
                    }
                    span {
                        font-size: 20px;
                        font-weight: 700;
                        margin-left: 10px;
                        padding-right: 16px;
                    }
                }
            }
        }
        .sidebar-content {
            max-height: calc(100vh - 1em);
            overflow-y: auto;
            margin-right: -17px;
            background-color: $light-theme-primary-color;
            color: $light-theme-secondary-color;
            .sidebar-header {
                display: flex;
                align-items: center;
                width: 100%;
                height: 36px;
                padding: 0 16px;
                span.text-muted {
                    font-size: 90%;
                    font-weight: 400;
                }
            }
            .sidebar-list-content {
                li.no-dropdown {
                    a {
                        display: flex;
                        align-items: center;
                        height: 36px;
                        font-size: 90%;
                        font-weight: 400;
                        color: $light-theme-secondary-color !important;
                        text-decoration: none !important;
                        width: 100% !important;
                        height: 36px;
                        &:hover {
                            background-color: darken($light-theme-primary-color, 5%);
                        }
                    }
                }
                li.dropdown-group {
                    font-size: 90%;
                    font-weight: 400;
                    div.dropdown-group-category {
                        display: flex;
                        align-items: center;
                        height: 36px;
                        width: 100%;
                        &:hover {
                            cursor: pointer;
                            background-color: darken($light-theme-primary-color, 5%);
                        }
                        .dropdown-group-caret {
                            margin-left: auto;
                            margin-right: 16px;
                            i {
                                transition-property: transform;
                                transition-duration: 0.25s;
                                transition-timing-function: ease-out;
                            }
                        }
                        &.active {
                            .dropdown-group-caret {
                                i {
                                    transition-property: transform;
                                    transition-duration: 0.25s;
                                    transition-timing-function: ease-out;
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                    div.dropdown-group-list {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        li {
                            display: flex;
                            align-items: center;
                            height: 32px;
                            width: 100%;
                            a {
                                color: $light-theme-secondary-color !important;
                            }
                        }
                    }
                }
            }
        }
        .sidebar-footer {
            border-top: 1px solid darken($light-theme-muted-color, 10%);
            background-color: darken($light-theme-primary-color, 2%);
            color: $light-theme-secondary-color;
            position: fixed;
            left: 0;
            bottom: 0;
            min-width: 200px;
            max-width: 200px;
            z-index: 1000;
            div.sidebar-footer-profile {
                padding: 12px 16px;
                width: 100%;
                height: 64px;
                font-size: 90%;
                display: flex;
                align-items: center;
                span.sidebar-footer-profile-image {
                    width: 40px;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
                span.sidebar-footer-profile-detail {
                    div.sidebar-footer-profile-name {
                        padding: 0 16px;
                    }
                    div.sidebar-footer-profile-status {
                        padding: 0 16px;
                        i {
                            margin-right: 6px;
                        }
                        span {
                            font-size: 80%;
                        }
                    }
                }
            }
        }
    }
}