<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Starting Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'library.css' %}"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}"/>
</head>
<body ng-app="ninja">
    {% verbatim %}
    <div class="container" ng-controller="mainCtrl">
        <div class="row">
            <div class="col">
                Landing Page
            </div>
        </div>
    </div>
    {% endverbatim %}
    <script src="{% static 'library.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>