<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'library.css' %}"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}"/>
</head>
<body ng-app="ninja">
    {% verbatim %}
    <div class="container" ng-controller="mainCtrl">
        <div class="row">
            <div class="col my-5">
                <div class="text-center">
                    <h4>
                        Angular App with Service Workers
                    </h4>
                </div>
                <div class="card my-2" ng-repeat="article in articles | orderBy: 'id' track by $index">
                    <div class="card-header">
                        {{ article.id }}
                    </div>
                    <div class="card-body">
                        {{ article.title }}
                    </div> 
                    <div class="card-footer">
                        {{ article.body }}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {% endverbatim %}
    <script src="{% static 'library.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>