<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a href="{% url 'articles:article-list' %}" class="navbar-brand">
        Django Ninja
    </a>
    {% if user.is_authenticated %}
    <uL class="navbar-nav mx-auto mr-auto">
        <li class="nav-item pointer">
            <a class="nav-link btn btn-sm" href="{% url 'articles:article-create'%}">
               Create Article
            </a>
        </li>
    </uL>
    <ul class="navbar-nav">
        <li class="nav-item pointer">
            <a class="nav-link">
                <form action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <input type='submit' class="btn btn-sm" value="Log Out" />
                </form>
            </a>
        </li>
    </ul>
    {% else %}
    <ul class="navbar-nav mx-auto mr-auto">
      &nbsp;
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item pointer">
            <a class="nav-link btn btn-sm" href="{% url 'accounts:login'%}">
                Login
            </a>
        </li>
        <li class="nav-item pointer">
            <a class="nav-link btn btn-sm" href="{% url 'accounts:signup'%}">
               Sign Up
            </a>
        </li>
    </ul>
    {% endif %}
</nav>