{% extends 'articles/layouts/base.html' %}

{% block title %}
<title>Accounts Log In </title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1> Login </h1>
            <form class="input-group" action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                {{ form }}
                
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                {% endif %}
                <input type="submit" value="Login" />
            </form>
        </div>
    </div>
</div>
{% endblock %}