{% extends 'articles/layouts/base.html' %}

{% block title %}
<title>Article Details {{ article.title }}</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col p-5">
            <h3> Article Details </h3>
            <div class="my-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class='card'>
                            <img class="card-img-top" src="{{ article.thumbnail.url }}" />
                            <div class="card-header">
                                <div class="card-title">
                                   <strong>
                                       {{ article.title }}
                                   </strong> 
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    {{ article.snippets }}
                                </div>
                                <div class="card-footer">
                                    {{ article.date }}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}